body {background-color: #D6C1A6;
      Background-image: url("/portafolio/img/codigo.gif");
}
 
 .nav-links {
  list-style-type: none;
  margin: 30px;
  overflow: hidden;
  background-color: #333333;
}

.nav-links li {
  float: right;
}

.nav-links li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
}

.nav-links li a:hover {
  background-color: #111111;
}

#inicio{
    text-align: center;
    color: white;
    background-color: rgb(45, 20, 61);
    padding: 70px;
    border-radius: 65px;
    width: 35%;
    height: 200px;
    margin: 100px auto;
}

#sobre-mi{
    text-align: center;
    color: white;
    background-color: rgb(45, 20, 61);
    padding: 50px;
    margin: 100px auto;
    border-radius: 25px;
    width: 45%;
}